{% extends 'base.html' %}


{% block title %}
Login page
{% endblock %}

{% block body %}
<div class="row">
    <div class="col">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-warning" role="alert">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}


        <form class="row g-3 mt-3" method="post" action="{{url_for('auth.login')}}">
            <div class="container" style="width: 500px;">
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" class="form-control"
                           id="exampleFormControlInput1"
                           placeholder="name@example.com"
                           name="email"
                           id="email"
                    >
                </div>

                <label for="Password" class="form-label">Password</label>
                <input type="password" id="Password" name="password" class="form-control"
                       aria-labelledby="passwordHelpBlock">
                <div id="passwordHelpBlock" class="form-text">
                    Your password must be 8-20 characters long
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Login</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}



