{% extends 'base.html' %}

{% block title %}
Users list
{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row justify-content-start">
        <div class="col-4">
            <a href="{{ url_for('report.report_list') }}"> reports </a>
            <h1>Users</h1>
            <ul>
                {% for user in users %}
                    <li>  {{ user.id }} {{ user.username }} {{ user.email }} </li>
                {% endfor %}
                </ul>
        </div>
    </div>
</div>
{% endblock %}



